body {
    background-color: #f2f2f2;
}

.custom-form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control, .form-select {
    border-radius: 5px;
}

.btn-primary {
    color: black;
    background-color: #FED136;
    border: none;
}

.btn-primary:hover {
    background-color: #FED136;
}
