{% extends 'base.html' %}
{% block main_block %} 
<h3>Hello</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

{#       <p>#}
{#        {{ form.username.label }}#}
{#        {{ form.username }}#}
{#           #}
{#       </p>#}
{#        <p>#}
{#       {{ form.email.label }}#}
{#       {{ form.email }}#}
{#           #}
{#       </p>#}
{#        <p>#}
{#       {{ form.password1.label }}#}
{#       {{ form.password1 }}#}
{#           #}
{#       </p>#}
{#        <p>#}
{#           #}
{#       {{ form.password2.label }}#}
{#       {{ form.password2 }}#}
{#        #}
{#       </p>#}
    {% for field in form %} 
        {{ field.as_field_group }}
    {% endfor %}
    <input type="submit" name="Create User">
        
</form>
        {{ form.errors }}
    <a href="{% url 'login' %}">Already have an account</a>
    
{% endblock %}
